<header>
  <div class="icons-header-for-mobile">
    <div routerLinkActive="active" class="div-icon-mobile"
    [ngClass]="{
      rtl: dataContent.ContentLoginRegister.direction == 'ltr',
      ltr: dataContent.ContentLoginRegister.direction == 'rtl'
    }"
    >
      <a [routerLink]="['/a']">
        <i class="icon-mobile fas fa-bars"></i>
      </a>
    </div>
    <div routerLinkActive="active" class="div-icon-mobile"
    [ngClass]="{
      rtl: dataContent.ContentLoginRegister.direction == 'ltr',
      ltr: dataContent.ContentLoginRegister.direction == 'rtl'
    }"
    >
      <a [routerLink]="['/search']">
        <i class="icon-mobile fas fa-search"></i>
      </a>
    </div>
    <div routerLinkActive="active" class="div-icon-mobile"
    [ngClass]="{
      rtl: dataContent.ContentLoginRegister.direction == 'ltr',
      ltr: dataContent.ContentLoginRegister.direction == 'rtl'
    }"
    >
      <a [routerLink]="['/People']">
        <i class="icon-mobile fas fa-user-friends"></i
      ></a>
    </div>
    <div routerLinkActive="active" class="div-icon-mobile"
    [ngClass]="{
      rtl: dataContent.ContentLoginRegister.direction == 'ltr',
      ltr: dataContent.ContentLoginRegister.direction == 'rtl'
    }"
    >
      <a [routerLink]="['/a']">
        <i class="icon-mobile fas fa-save"></i>
      </a>
    </div>
    <div routerLinkActive="active" class="div-icon-mobile"
    [ngClass]="{
      rtl: dataContent.ContentLoginRegister.direction == 'ltr',
      ltr: dataContent.ContentLoginRegister.direction == 'rtl'
    }"
    >
      <a [routerLink]="['/home']">
        <i class="icon-mobile fas fa-home"></i>
      </a>
    </div>
  </div>

  <div id="logo_header_div_pc">
    <a
      ><img
        class="logo_img_header_pc"
        src="./assets/images/logoRecipe.png"
        alt=""
    /></a>
  </div>
</header>

<!-- <div class="div-search-compiuter">
    <form>
      <input type="text" name="search" placeholder="Search.." />
    </form>
  </div>
  <div class="div-icon-search">
    <i class="icon-search fas fa-search"></i>
  </div>
  <div class="icons-header-for-compiuter">
    <div class="div-icon-compiuter">
      <i class="icon-compiuter fas fa-user-friends"></i><br />
      <p class="span-for-icon-header">אנשים</p>
    </div>
    <div class="div-icon-compiuter">
      <i class="icon-compiuter fas fa-save"></i><br />
      <p class="span-for-icon-header">מתכונים</p>
    </div>
    <div class="div-icon-compiuter">
      <i class="icon-compiuter fas fa-home"></i><br />
      <p class="span-for-icon-header">בית</p>
    </div>
    <div class="div-icon-compiuter">
      <img class="img-person-header" src="image/download (6).jpeg" alt="" />
      <br />
      <i class="icon-compiuter-img fas fa-caret-down"></i>
    </div>
  </div> -->
